body {
  background-color: #f5e6d7; /* #efeae7*/
  color: #4a4641; /* #3b3936; */
}

.title {
  text-align: center;
  font-size: 48px;
  font-weight: 400;
  text-transform: uppercase;
}

.recipe-list li {
  color: #ae5e24;
  font-size: 28px;
  font-family: cursive;
  margin-bottom: 10px;
}

.recipe-list li:hover {
  color: #82461b;
}

.recipe-item a {
  color: inherit;
  text-decoration: none;
}
